<h1>Reset Password, <%= @user.username %></h1>
<p>
  please open this link to reset your password
</p>
<a href="<%= @link %>"><%= @link %> </a>
<p>This link will be expired after 6 hours.</p>

<p>Thanks for joining and have a great day!</p>